@import "../../styles/variables.scss";

.hero--buttons {
  margin: 25px 0;
  display: inline-flex;
  flex-wrap: wrap;

  @media (min-width: $sm) {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
  }

  .hero-button {
    text-decoration: none;
    background: rgba(146, 145, 145, 0.75);
    margin-right: 20px;
    padding: 20px 80px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;

    @media (min-width: $sm) {
      padding: 10px 20px;
      font-size: 0.8rem;
      margin-top: 10px;
    }

    @media (min-width: $md) {
      padding: 15px 25px;
      font-size: 1.2rem;
    }
  }

  & :link,
  :visited,
  :active {
    text-decoration: none;
    color: #fff;
  }
}

.red {
  background: red !important;
}
