.hero--wrapper {
  height: 100vh;
  background-image: url(../../assets/bg-cover/netflix-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  .hero--section {
    padding: 25px;

    .hero--content {
      width: 100%;
      color: #fff;
      width: 750px;

      .hero--subtitle {
        margin-top: 75px;
        margin-bottom: 25px;
      }

      .hero--title {
        font-weight: 700;
        font-size: 9rem;
        line-height: 8rem;
        margin-bottom: 75px;
      }

      .hero--mobile {
        display: none;
      }

      .hero--buttons {
        margin: 25px 0;
        display: flex;

        .red {
          background-color: red;
        }

        .hero-button {
          text-decoration: none;
          background: rgba(157, 151, 151, 0.541521);
          margin-right: 20px;
          padding: 20px 80px;
          border-radius: 12px;
          font-size: 400;
        }

        & :link,
        :visited,
        :active {
          text-decoration: none;
          color: #fff;
        }
      }

      .hero--description {
        line-height: 2.5rem;
        font-weight: 300;
        font-size: 1.7rem;

        .hero--text {
          margin: 3rem 0;
        }
      }
    }
  }
}
