@import "../../styles/variables.scss";

.hero {
  padding: 35px;
  min-height: 100vh;
  background-position: top;
  background-size: cover;

  @media (min-width: $sm) {
    padding: 15px;
    min-height: 100%;
    background-position: 50%;
  }
  @media (min-width: $md) {
    padding: 25px;
  }

  &__content {
    color: #fff;
    max-width: 850px;

    @media (min-width: $md) {
      max-width: 600px;
    }

    .hero__title {
      font-weight: 700;
      font-size: 6rem;
      line-height: 8rem;

      @media (min-width: $sm) {
        font-size: 2.6rem;
        margin-top: 80px;
        margin-bottom: 35px;
        line-height: 3rem;
      }

      @media (min-width: $md) {
        font-size: 4.5rem;
        margin-top: 130px;
        line-height: 4rem;
      }
    }

    .content__info {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;

      @media (min-width: $sm) {
        margin-bottom: 10px;
      }
      @media (min-width: $md) {
        margin-bottom: 20px;
      }

      .info {
        margin-right: 20px;
        font-size: 1.3rem;

        @media (min-width: $sm) {
          font-size: 0.95rem;
          margin-bottom: 5px;
          margin-right: 10px;
        }

        @media (min-width: $md) {
          font-size: 1.4rem;
          margin-right: 20px;
        }
      }
    }

    .coincidence {
      color: rgb(1, 202, 1);
      font-weight: 600;

      @media (min-width: $sm) {
        display: none;
      }

      @media (min-width: $md) {
        display: block;
        font-size: 1.4rem;
      }
    }

    .hero--description {
      margin-top: 15px;
      line-height: 2.25rem;
      font-weight: 600;
      font-size: 1.3rem;
      text-align: left;

      @media (min-width: $sm) {
        font-size: 1rem;
        line-height: 2rem;
        text-align: left;
        margin-top: -10px;
      }

      @media (min-width: $md) {
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: left;
        margin-top: 20px;
      }
    }
    .icons-container {
      display: flex;
      align-items: center;
    }
  }
}
