.hero {
  padding: 35px;
  min-height: 100vh;
  background-position: top;
  background-size: cover;

  @media (min-width: 360px) {
    padding: 15px;
    min-height: 55vh;
    background-position: 50%;
  }

  .hero__content {
    color: #fff;
    max-width: 850px;

    .hero__title {
      font-weight: 700;
      font-size: 6rem;
      line-height: 8rem;

      @media (min-width: 360px) {
        font-size: 2.6rem;
        margin-top: 80px;
        margin-bottom: 25px;
        line-height: 3rem;
      }
    }

    .content__info {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;

      .info {
        margin-right: 20px;
        font-size: 1.3rem;

        @media (min-width: 360px) {
          font-size: 0.85rem;
        }
      }
    }

    .coincidence {
      color: rgb(1, 202, 1);
      font-weight: 600;
    }

    .hero--description {
      margin-top: 15px;
      line-height: 2.25rem;
      font-weight: 600;
      font-size: 1.3rem;
      text-align: left;

      @media (min-width: 360px) {
        font-size: 1rem;
        line-height: 2rem;
        text-align: left;
      }
    }
    .icons-container {
      display: flex;
      align-items: center;
    }
  }
}
