.carousel-thumbnail,
.progress-bar {
  max-width: 350px;
}

.progress-bar {
  background-color: #cccccc;
  height: 15px;
  margin-top: 15px;
}

.season-data-container {
  color: #fff;
  font-size: 1rem;
  margin-top: 20px;
  margin-right: 10px;
  .season-data-title {
    
  }
  .season-data-description {
  }
}
