@import "../../styles/variables.scss";

.carousel-thumbnail,
.progress-bar {
  margin: 0 auto;
  @media (min-width: $sm) {
    margin: 0 auto;
    max-width: 320px;
  }
  @media (min-width: $sm-m) {
    max-width: 295px;
  }
  @media (min-width: $md) {
    max-width: 360px;
  }
  @media (min-width: $lg) {
    max-width: 325px;
  }

  @media (min-width: $xl) {
    max-width: 300px;
  }
  @media (min-width: $xxl) {
    max-width: 340px;
  }
}

.progress-bar {
  background-color: #cccccc;
  height: 5px;
  margin-top: 15px;
  box-sizing: content-box;
}

.season-data-container {
  color: #fff;
  font-size: 1rem;
  margin-top: 20px;
  margin-right: 5px;

  .season-data-title {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    line-height: 1.8rem;

    @media (min-width: $sm) {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
  .season-data-description {
    margin-top: 20px;
    max-width: 350px;
    line-height: 1.4rem;

    @media (min-width: $sm) {
      font-size: 0.85rem;
      margin: 1.4rem 0px;
      line-height: 1.5rem;
      text-align: justify;
    }
  }
}
