@import "../../styles/variables.scss";

.navbar-wrapper {
  width: 100%;
  display: flex;
  padding-top: 15px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  min-height: 10vh;

  .courflix-logo {
    min-width: 150px;
    margin: 5px 25px;
  }

  .navbar {
    .navbar-list {
      display: flex;
      list-style: none;

      @media (min-width: $sm) {
        display: flex;
        flex-direction: column;
      }
      @media (min-width: $md) {
        display: flex;
        flex-direction: row;
      }

      .navbar-link {
        color: #fff;
        margin-left: 25px;
        font-size: 1.5rem;
      }
    }
  }
}
