.sidebar-container {
  color: #fff;
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    flex-shrink: 0;
    .sidebar-elemenet {
      font-size: 1.4rem;
      margin-top: 20px;
      padding: 10px;
      list-style-type: none;
    }
  }
}
